.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  margin-bottom: 35px;
}

.App-link {
  color: #61dafb;
}

.tabs {
  width: 100%;
}

#extrafont {
  font-size: 12px;
  margin-top: 75px;
}

#inputContainer {
  font-size: 15px;
}

#game-text {
  color: white;
}

#gameButton {
  color: white;
  background-color: white;
}
#gameExplanation {
  padding-bottom: 20px;
}

#score {
  padding-top: 30px;
}

#aboutText {
  font-size: 35px;
  padding: 25px 0px 50px;
}

#aboutDesc {
  font-size: 16px;
}
